
@charset "utf-8";
/* CSS Document */



div.container {
background-color:blue;color:blue;padding:20px;width:100%;
}



.logo{
	
	
	
}




.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 80%;
      margin: auto;
	  height: 30%;
	  
  }
  

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
